
<% if @bidderprofile.errors.any? %>
<div style="background-color: #FF0000">
<p>
    Please fix the following errors:
</p>
<ul>
    <% @bidderprofile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>   
</ul>
</div>
<% end %>

<h1 align = "left">New Bidder Profile</h1>

<body style="background-color:#78866B">

<%= form_for @bidderprofile do |f| %>
    <p align = "left">
    First Name<br>
    <%= f.text_field :first_name %>
    </p>

    <p align = "left">
    Last Name<br>
    <%= f.text_field :last_name %>
    </p>

    <p align = "left">
    Date of Birth<br>
    <%= f.text_field :date_of_birth %>
    </p>

    <p align = "left">
    Address<br>
    <%= f.text_field :address %>
    </p>

    <p align = "left">
    City<br>
    <%= f.text_field :city %>
    </p>

    <p align = "left">
    State<br>
    <%= f.text_field :state %>
    </p>

    <p align = "left">
    Zip Code<br>
    <%= f.text_field :zipcode %>
    </p>

    <p align = "left">
    Country<br>
    <%= f.text_field :country %>
    </p>

    <p align = "left">
    Phone<br>
    <%= f.text_field :phone %>
    </p>

    <p align = "left">
    Email<br>
    <%= f.text_field :email %>
    </p>

    <p align = "left">
    UserName<br>
    <%= f.text_field :username %>
    </p>

    <p align = "left">
    Password<br>
    <%= f.password_field :password %>
    </p>


    <p align = "left">
    <%= f.submit "Create Bidderprofile" %>
    </p>
    
<% end %>


