<h1>Login </h1>
<body style="background-color:#ffff99">

<div>
    <% if flash[:alert] %>
    <p id="notice"><%= flash[:alert] %> </p>
    <% end %>

    <%= form_tag do %>
        <fielldset>
            <legend>Please Log In </legend>
            <br>
            <div>
                <%= label_tag :username, 'Username' %>
                <%= text_field_tag :username, params[:username] %>
                <br>
                <br>
                <%= label_tag :password, 'Password' %>
                <%= password_field_tag :password, params[:password] %>
            </div>
            <div>
                <%= submit_tag "Login" %>
            </div>
        </fielldset>
    <% end %>
</div>

    
    

