
<%= link_to 'Home', hubs_path %>
<%= link_to 'My Profile', adminprofile_path(session[:user_id]) %>
<%= link_to 'Logout', logout_path, method: :delete %>
<h1 style="color:Maroon ;" align = "center"> Listing Admins </h1>

<table width="90%" style="text-align:center" align = "center">

<tr style="background-color:#52143d" height="60px">
<th style="color:Azure ;">First Name</th>
<th style="color:Azure ;">Last Name</th>
<th style="color:Azure ;">Address</th>
<th style="color:Azure ;">City</th>
<th style="color:Azure ;">State</th>
<th style="color:Azure ;">ZipCode</th>
<th style="color:Azure ;">Country</th>
<th style="color:Azure ;">Phone</th>
<th style="color:Azure ;">Email</th>

</tr>

<% flag = 1%>
<% @adminprofiles.each do |adminprofile| %>
    <% if flag % 2  != 0%>
        <tr style="background-color:#ebadd6;" height="50px">
    <%else%>
        <tr style="background-color:#faebf5;" height="50px">
    <% end
    flag += 1 %>

<td><%= adminprofile.first_name %></td>
<td><%= adminprofile.last_name %></td>
<td><%= adminprofile.address %></td>
<td><%= adminprofile.city %></td>
<td><%= adminprofile.state %></td>
<td><%= adminprofile.zipcode %></td>
<td><%= adminprofile.country %></td>
<td><%= adminprofile.phone %></td>
<td><%= adminprofile.email %></td>


</tr>
<% end %>

</table>

