<%= link_to 'My Profile', adminprofile_path(session[:user_id]) %>
<%= link_to 'Logout', logout_path, method: :delete %>

<h1 style="color:Maroon ;" align = "center"> My Items </h1>

<table width="90%" style="text-align:center" align = "center">

<tr style="background-color:#483D8B" height="60px">
<th style="color:Azure ;">Name</th>
<th style="color:Azure ;">Original Price</th>
<th style="color:Azure ;">Maximum Auction Price </th>
<th style="color:Azure ;">Description</th>

</tr>

<% flag = 1%>
<% @items.each do |item| %>
    <% if item.status == "deactive" %>
        <% next %>
    <%end%>
    <% if flag % 2  != 0%>
    <tr style="background-color:#A9A9A9;" height="50px">
<%else%>
    <tr style="background-color:#DCDCDC;" height="50px">
<% end
flag += 1 %>

<td> <%= item.item_name %> </td>
<td> <%= item.original_price %> </td>
<td> <%= item.auction_price %> </td>
<td> <%= item.description %> </td>


<td> 
<% if session[:role] == "admin" %>
    <%= form_for item do |f| %>
        <p>
        <%= f.hidden_field :id, :value => item.id %>
        <%= f.hidden_field :uid, :value => session[:user_id] %>

        </p>
        
        <p>
        <%= f.submit "Stop Auction" %>
        </p>
        
    <% end %>
<% end %>
</td>


</tr>
<% end %>

</table>







