<h3>Item Information:</h3>

<p>
<b>Item's Name:</b>
<%= @item.item_name %> 
</p>


<p>
<b>Description:</b>
<%= @item.description %><br>
</p>

<p>
<b>Original Price:</b>
<%= @item.original_price %><br>
</p>

<p>
<b>Auction Price:</b>
<%= @item.auction_price %><br>
</p>

<p>
<b>Username:</b>
<%= @item.adminprofile.username %><br>
</p>




