<!DOCTYPE html>
<html>
  <head>
    <title>Comp7012Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p style="background-color: #ADFF2F">
        <%= flash[:notice] %>
      </p>
    <% end %>

    <% if flash[:alert] %>
      <p style="background-color: #FF0000">
        <%= flash[:alert] %>
      </p>
    <% end %>
 
    <%= yield %>

  </body>
</html>
